{% extends "_widget_setting.html" %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="layout_type">{{ 'm_widgets_label_layout_type' | trans }}</label>
                <select name="layout_type" id="layout_type" class="form-control">
                    <option value="box_count" {% if widget.data.layout_type == 'box_count' %}selected="selected"{% endif %}>
                        {{ 'm_widgets_label_layout_type_box_count' | trans }}</option>
                    <option value="button_count" {% if widget.data.layout_type == 'button_count' %}selected="selected"{% endif %}>
                        {{ 'm_widgets_label_layout_type_button_count' | trans }}</option>
                    <option value="button" {% if widget.data.layout_type == 'button' %}selected="selected"{% endif %}>
                        {{ 'm_widgets_label_layout_type_Button' | trans }}</option>
                    <option value="icon_link" {% if widget.data.layout_type == 'icon_link' %}selected="selected"{% endif %}>
                        {{ 'm_widgets_label_layout_icon_link' | trans }}</option>
                    <option value="icon" {% if widget.data.layout_type == 'icon' %}selected="selected"{% endif %}>
                        {{ 'icon' | trans }}</option>
                    <option value="link" {% if widget.data.layout_type == 'link' %}selected="selected"{% endif %}>
                        {{ 'link' | trans }}</option>
                </select>
            </div>
        </div>
    </div>
{% endblock %}