{% extends "_widget_setting.html" %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                {% if widget.data.show_post_count %}
                    <input type="checkbox" value="1" checked name="show_post_count" id="show_post_count"/>
                {% else %}
                    <input type="checkbox" value="1" name="show_post_count" id="show_post_count"/>
                {% endif %}
                <label for="title">{{ 'm_widgets_label_layout_display_post_count' | trans }} </label>
            </div>
        </div>
    </div>
{% endblock %}