{% extends 'layout.html' %}
{% block content %}
    <div class="error-page">
        <h2 class="headline text-yellow"> 404</h2>

        <div class="error-content">
            <h3><i class="fa fa-warning text-yellow"></i> {{ 't_backend_default_404_h3' | trans }}</h3>

            <p>
                 {{ 't_backend_default_404_p' | trans }}
                <a href='/admin'>{{ 't_backend_default_return_dashboard' | trans }}</a>
            </p>
        </div>
        <!-- /.error-content -->
    </div><!-- /.error-page -->
{% endblock %}