{% extends 'layout.html' %}

{% block cssExtends %}
    <link href="/theme_resources/backend/default/plugins/iCheck/square/blue.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block body %}
<body class="login-page">
<div class="login-box">
    <div class="login-logo">
        <a href="/"><b>{{ 't_backend_default_admin' | trans }}</b></a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
        <div style="margin-left: -10px; margin-right: -10px;">
            {{ messages|flash_message|safe }}
        </div>

        <form class="forget-form" action="" method="post">
            <p>{{ 't_backend_default_forgot_password_forget_form_p' | trans }}</p>

            <div class="form-group">
                <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Email"
                       name="email"/>
            </div>

            <div class="form-actions">
                <button type="button" onclick="backToLogin()" id="back-btn" class="btn btn-default btn-flat">
                    {{ 'back' | trans }}
                </button>
                <button type="submit" class="btn btn-primary btn-flat uppercase pull-right">
                    {{ 'submit'|  trans }}
                </button>
            </div>
        </form>
    </div>
    <!-- /.login-box-body -->
</div>
<!-- /.login-box -->

{% endblock %}

{% block jsExtends %}
    <script>
        function backToLogin() {
            window.location.href = '/admin/login/';
        }
    </script>
{% endblock %}

