{% extends 'layout.html' %}

{% block cssExtends %}
    <link href="/theme_resources/backend/default/plugins/iCheck/square/blue.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block body %}

    <body class="login-page">
<div class="col-md-12"></div>
<div {% if form == true %}class="login-box"
     {% else %}class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12" style="margin-top: 7%"{% endif %}>
    <div class="login-logo">
        <a href="/"><b>{{ 't_backend_default_email_template_reset_confirm_title' | trans }}</b></a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
        <div style="margin-left: -10px; margin-right: -10px;">
            {{ messages|flash_message|safe }}
        </div>

        {% if form == true %}
            <form method="post">
                <div class="form-group has-feedback">
                    <input type="password" class="form-control" placeholder="Password" name="newpassword"/>
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input type="password" class="form-control" placeholder="Confirm password" name="retype_password"/>
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="row">
                    <div class="col-md-12 text-right">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">{{ 'submit' }}</button>
                    </div>
                </div>
            </form>
        {% else %}
            <div class="row">
                <div class="col-md-12">
                    <a class="btn btn-flat bg-purple"
                       href="/theme_resources/backend/default/login">{{ 't_backend_default_reset_pass_back' | trans }}</a>
                </div>
            </div>
        {% endif %}
    </div>
    <!-- /.login-box-body -->
</div>
<!-- /.login-box -->

{% endblock %}