{% if categories | length %}
    <div class="brands_products"><!--categories_products-->
        <h2>{{ widget.title | safe }}</h2>

        <div class="brands-name">
            <ul class="nav nav-pills nav-stacked">
                {% for category in categories %}
                    <li><a href="/products/{{ category.id }}"> <span class="pull-right">({{ category.count }}
                                )</span>{{ category.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endif %}