{% extends 'layout.html' %}
{% block content %}
  <div class="row" id="order-detail-page">
    <div class="col-md-12">
      {% include 'toolbar.html' %}
      <div class="box box-solid box-primary">
        <div class="box-body table-responsive no-padding">
          {% include 'basic_table.html' %}
          {{ totalPage|pagination(currentPage,'/admin/products/order/page/{page}/sort/'+currentColumn+'/'+currentOrder)|safe }}
        </div>
      </div>
    </div>
    <div class="modal fade" id="myModalOrder" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

    </div>
  </div>

{% endblock %}
{% block jsExtends %}
  <script>
    function closeOrderDetail(){
      $('#model-order').remove();
      $('#myModalOrder').modal('hide');
      return false;
    }
    function orderDetail(id){
      $.ajax({
        url: '/admin/products/order/'+id,
        type: 'get',
        data:{
          id : id,
          url : '{{ url }}'
        },
        success: function (result) {
          // Do something with the result
          $('#myModalOrder').html(result);
          $('#myModalOrder').modal('show');
        }
      });
      return false;
    }
    function deleteRecords() {
      var ids = [];
      $("input:checkbox[name='ids[]']:checked").each(function () {
        ids.push($(this).val());
      });
      $.ajax({
        url: '/admin/products/order/delete',
        type: 'DELETE',
        data: {
          ids: ids.join()
        },
        success: function (result) {
          // Do something with the result
          window.location.href = "/admin/products/order";
        }
      });
    }
    function detail(id){
      $.ajax({
        url: '/admin/products/order/detail/'+id,
        type: 'get',
        data:{
          id : id
        },
        success: function (result) {
          // Do something with the result
          $('#myModalOrder div').replaceWith(result);
          $('#myModalOrder').modal('show');
        }
      });
      return false;
    }
  </script>
{% endblock %}
