{% extends 'default_layout.html' %}
{% block content %}
    <section id="blog" class="container">
        <div class="center">
            <h2>Archives :
                {% if archives_date %}
                    {{ archives_date|date('F Y') }}
                {% endif %}
            </h2>
        </div>
        <div class="blog">
            <div class="row">
                <div class="col-md-8">

                    {% if posts %}
                        {% for item in posts %}
                            <div class="blog-item">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-2 text-center">
                                        <div class="entry-meta">
                                            <span id="publish_date"> {{ item.created_at|date('j M') }}</span>
                                            <span><i class="fa fa-user"></i> <a
                                                        href="/blogs/posts/{{item.created_by}}">{{ item.display_name }}</a></span>
                                        </div>
                                    </div>

                                    <div class="col-xs-12 col-sm-10 blog-content">
                                        {% if item.image %}
                                            <a href="/posts/{{ item.id }}/{{item.alias}}"><img
                                                        class="img-responsive img-blog" src="{{ item.image }}"
                                                        width="100%" alt=""/></a>
                                        {% endif %}

                                        <h2>
                                            <a href="/posts/{{ item.id }}/{{item.alias}}">{{ item.title|title }}</a>
                                        </h2>

                                        <h3>{{ item.intro_text|safe }}</h3>
                                        <a class="btn btn-primary readmore"
                                           href="/posts/{{ item.id }}/{{item.alias}}">Read More
                                            <i
                                                    class="fa fa-angle-right"></i></a>
                                    </div>
                                </div>
                            </div>
                            <!--/.blog-item-->
                        {% endfor %}

                        {% set basePageURL = '/archives/' + archives_date|replace('-','/') + '/page-{page}/' %}
                        {{ totalPage|pagination(currentPage, basePageURL)|safe }}
                        <!--/.pagination-->
                    {% else %}
                        <h2>Message: Category Empty</h2>
                    {% endif %}
                </div>
                <!--/.col-md-8-->

                <aside class="col-md-4">
                    {{ "right-sidebar"|get_sidebar(route)|safe }}
                </aside>
            </div>
            <!--/.row-->
        </div>
    </section><!--/#blog-->
{% endblock %}