{% extends 'default_layout.html' %}
{% block content %}
<section id="blog" class="container">
    {% if category %}
        <div class="center">
            <h2>{{ category.name|title }}</h2>
            <p class="lead">{{ category.description|safe }}</p>
        </div>
    {% endif %}

    <div class="blog">
        <div class="row">
            <div class="col-md-8">

                {% if posts|length %}
                    {% for item in posts %}
                    <div class="blog-item">
                        <div class="row">
                            <div class="col-xs-12 col-sm-2 text-center">
                                <div class="entry-meta">
                                    <span id="publish_date"> {{ item.published_at|date('j M') }}</span>
                                                <span><i class="fa fa-user"></i> <a
                                                        href="/blogs/posts/{{item.created_by}}">{{ item.user.display_name }}</a></span>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-10 blog-content">
                                {% if item.image %}
                                <a href="/posts/{{ item.id }}/{{item.alias}}"><img
                                        class="img-responsive img-blog" src="{{ item.image }}"
                                        width="100%" alt=""/></a>
                                {% endif %}

                                <h2>
                                    <a href="/posts/{{ item.id }}/{{item.alias}}">{{ item.title|title }}</a>
                                </h2>

                                <h3>{{ item.intro_text|safe }}</h3>
                                <a class="btn btn-primary readmore"
                                   href="/posts/{{ item.id }}/{{item.alias}}/">Read More
                                    <i
                                            class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <!--/.blog-item-->
                    {% endfor %}
                    <!--get all posts if pass parameter basePageURL else get all post by category-->
                    {%if baseURL %}
                        {%set basePageURL = baseURL+'{page}'%}
                    {%else%}
                        {% set basePageURL = '/category/' +   category.alias + '/' + category.id + '/page-{page}/' %}
                    {%endif%}

                    {{ totalPage|pagination(currentPage, basePageURL)|safe }}
                    <!--/.pagination-->
                {% else %}
                <h2>Message: Category Empty a</h2>
                {% endif %}
            </div>
            <!--/.col-md-8-->

            <aside class="col-md-4">
                {{ "right-sidebar"|get_sidebar(route)|safe }}
                <!--<div class="widget search">
                    <form role="form">
                        <input type="text" class="form-control search_box" autocomplete="off"
                               placeholder="Search Here">
                    </form>
                </div>
                <!--/.search-->
            </aside>
        </div>
        <!--/.row-->
    </div>
</section><!--/#blog-->
{% endblock %}