{% extends "_widget_setting.html" %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="text_ids">{{ 'm_widgets_label_layout_id_category' | trans }}</label>
                <input type="text" class="form-control" name="text_ids" id="text_ids" value="{{ widget.data.text_ids }}">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="number_to_show">{{ 'm_widgets_label_number_of_posts' | trans }}</label>
                <input type="text" class="form-control" name="number_to_show" id="number_to_show" value="{{ widget.data.number_to_show }}">
            </div>
        </div>
    </div>
{% endblock %}