{% extends "_widget_setting.html" %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="layout_type"> {{ 'm_widgets_label_layout_type' | trans }}</label>
                <select name="layout_type" id="layout_type" class="form-control">
                    <option value="standard" {% if widget.data.layout_type == 'standard' %}selected="selected"{% endif %}>
                        {{ 'm_widgets_label_layout_type_standard' | trans }}
                    </option>
                    <option value="box_count" {% if widget.data.layout_type == 'box_count' %}selected="selected"{% endif %}>
                        {{ 'm_widgets_label_layout_type_box_count' | trans }}
                    </option>
                    <option value="button_count" {% if widget.data.layout_type == 'button_count' %}selected="selected"{% endif %}>
                        {{ 'm_widgets_label_layout_type_button_count' | trans }}
                    </option>
                    <option value="button" {% if widget.data.layout_type == 'button' %}selected="selected"{% endif %}>
                        {{ 'm_widgets_label_layout_type_Button' | trans }}
                    </option>
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="action_type">{{ 'm_widgets_label_action_type' | trans }}</label>
                <select name="action_type" id="action_type" class="form-control">
                    <option value="like" {% if widget.data.action_type == 'like' %}selected="selected"{% endif %}>
                        {{ 'like' | trans }}
                    </option>
                    <option value="recommend" {% if widget.data.action_type == 'recommend' %}selected="selected"{% endif %}>
                        {{ 'recommend' | trans }}
                    </option>
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="color_scheme">{{ 'm_widgets_label_color_scheme' | trans }}</label>
                <select name="color_scheme" id="color_scheme" class="form-control">
                    <option value="light" {% if widget.data.color_scheme == 'light' %}selected="selected"{% endif %}>
                        {{ 'm_widgets_label_color_scheme_light' | trans }}</option>
                    <option value="dark" {% if widget.data.color_scheme == 'dark' %}selected="selected"{% endif %}>
                        {{ 'm_widgets_label_color_scheme_dark' | trans }}</option>
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label>
                    <input type="checkbox" name="show_friend_faces" {% if widget.data.show_friend_faces %}checked{% endif %}/>
                    {{ 'm_widgets_label_show_friend_faces' | trans }}
                </label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label>
                    <input type="checkbox" name="include_share_button" {% if widget.data.include_share_button %}checked{% endif %}/>
                    {{ 'm_widgets_label_include_share_button' | trans }}
                </label>
            </div>
        </div>
    </div>
{% endblock %}