

{% macro render_child(mn, cls, menu_data ) %}
    {% if mn.children %}
        <li class="dropdown"><a class="{{ cls }}" href="{{ menu_data.link }}">{{ menu_data.name }}
                <i class="fa fa-angle-down"></i></a>
            <ul role="menu" class="sub-menu">
                {% for subMn in mn.children %}
                    {% set _data = subMn.id|get_menu_data(_menus_data) %}
                    {{ render_child(subMn,'', _data) }}
                {% endfor %}
            </ul>
        </li>
    {% else %}
        <li><a href="{{ menu_data.link }}"> {{ menu_data.name }}</a></li>
    {% endif %}
{% endmacro %}



<div class="mainmenu pull-left">
    <ul class="nav navbar-nav collapse navbar-collapse">
        {% for mn in _menus %}
            {% set menu_data = mn.id|get_menu_data(_menus_data) %}
            {% set cls = route|active_menu(menu_data.link,'active',1) %}
            {{ render_child(mn, cls, menu_data) }}
        {% endfor %}
    </ul>
</div>

