{% extends 'default_layout.html' %}

{% block content %}
  <section id="content">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-7 wow fadeInDown animated"
             style="visibility: visible; -webkit-animation: fadeInDown;">
          <!-- test -->
          {{ "sidebar1"|get_sidebar(route)|safe }}
          <!--/.tab-wrap-->
        </div>
        <div class="col-xs-12 col-sm-5 wow fadeInDown animated"
             style="visibility: visible; -webkit-animation: fadeInDown;">
          {{ "sidebar2"|get_sidebar(route)|safe }}
        </div>
      </div>

    </div>

  </section>
{% endblock %}