<li class="dd-item" data-id="13">
    <div class="dd-handle" style="position: relative">Menu Item</div>
    <a href="#" class="fa fa-caret-down expand_arrow" onclick="return showDetail(this);"></a>

    <div class="box box-solid open">
        <div class="box-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>{{ 'm_menus_backend_views_menuitem_label_Navi' |trans }}</label>
                        <input type="text" class="form-control" id="title" name="title[]" onchange="changeTitle(this)">
                        <input type="hidden" id="mn_id" name="mn_id[]">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>{{ 'm_menus_backend_views_menuitem_label_title_att' |trans }}</label>
                        <input type="text" class="form-control" id="attribute" name="attribute[]">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>{{ 'm_menus_backend_views_menuitem_label_url' | trans }}</label>
                        <input type="text" class="form-control" id="url" name="url[]">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <a href="#" class="btn btn-danger" onclick="return removeMenu(this)">
                        {{ 'remove' | trans }}</a> |
                    <a href="#" onclick="return showDetail(this, false)">
                        {{ 'close' | trans }}</a>
                </div>
            </div>
        </div>
    </div>
</li>